{% include "header.html" %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Coefficients Values</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <table class="table table-striped coefficient-table">
                        <tr>
                            <th>name</th>
                            <th>current value</th>
                            <th>new value</th>
                            <th>action</th>
                        </tr>

                        {% for item in data %}
                        <tr>
                            <td>
                                <div class="pt-2">{{item.name}} </div>
                            </td>
                            <td>
                                <div class="pt-2">{{item.value}}</div>
                            </td>

                            <form action='/coefficient/edit' method="POST">
                                <td>
                                    <input type="text" hidden name="name" value={{item.name}} />
                                    <input type="number" class="form-control" step="any" name="NewCoefficient"
                                        value="{{item.value}}" />
                                </td>
                                <td>
                                    <input type="submit" class="btn btn-secondary" value="Update" />
                                </td>
                            </form>

                        </tr>
                        {% endfor %}
                    </table>


                    {% if message %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->



</body>

</html>