
{% include "header.html" %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Content Row -->
          <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Login </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form action='login' method='POST'>
                        username &nbsp;<input type='text' name='email' id='email' placeholder='student@ryerson.ca' /><br /> &nbsp; <br />
                        password &nbsp;<input type='password' name='password' id='password' placeholder='' /><br /> &nbsp;
                        <br />
                        <input type='submit' class="btn btn-primary"  name='submit' />
                    </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
</body>
</html>